
@{
    ViewBag.Title = "Home";
}
@Html.Partial("_Logout")



<h3>Welcome</h3>@ViewData["data"]


<p>
    @Html.ActionLink("Update Profile", "MyProfile", "Home")||
    @Html.ActionLink("Manage Address Book", "Index","ManageUser")
</p>
